* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

nav {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 15;
}

.navBar {
    /* display: flex; */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    height: 70px;
    background-color: #3949AB;
    /* padding: 0ps 10px; */
}

nav ul {
    float: right;
    list-style: none;
    margin-right: 20px;
    position: relative;
    top: -50px;
    /* flex-wrap: wrap; */
}

nav ul li {
    display: inline-block;
    margin: 0 5px;
}

ul li a:active,
ul li a:hover {
    background: rgba(63, 81, 181, 0.4);
    transition: .5s;
}

ul li a {
    color: white;
    display: inline-block;
    padding: 7px 13px;
    font-weight: bold;
    border-radius: 2px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.mainHeading {
    font-weight: 600;
    font-size: 35px;
    color: white;
    line-height: 70px;
    margin-left: 15px;
}

a {
    text-decoration: none;
}

.checkBtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}


#check{
    display: none;
}

#home {
    background: url("./image/building-background.jpg") no-repeat center center;
    background-size: cover;
}

.homeDiv {
    background: rgba(42, 27, 161, 0.7);
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    width: 100%;
}

.myHome {
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 200px;
}

.homeFirstHeading h1 {
    font-weight: 600;
    font-size: 50px;
    color: white;
}

.homeSecHeading h2 {
    color: #fff;
}

/* About section */

#about {
    min-height: 550px;
    width: 100%;
    background-color: rgb(240, 240, 240);
}

.introHeadLine,
.contactHeadLine,
.glance {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.aboutMe {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    background-color: rgb(240, 240, 240);
}

.about-div {
    display: flex;
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
    width: 80%;
    margin: auto;
}

.intro,
.education,
.interest {
    position: relative;
    width: 35%;
    margin: 20px;
    text-align: center;
}

.intro p,
.education p,
.interest p {
    color: grey;
    font-weight: 100 !important;
    line-height: 30px;
}

.fa-face-smile,
.fa-book,
.fa-cubes {
    padding: 5px;
    margin: 4px 0px;
}

.fa-face-smile {
    color: orange;
}

.fa-book {
    color: #00bcd4;
}

.fa-cubes {
    color: rgba(255, 51, 0, 0.768);
}

.fa-3x {
    font-size: 40px !important;
}


/* the gallary */


.myGallary {
    min-height: 400px;
    margin: 30px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.myGallary .gallery {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
}

.myGallary .gallery .imgBox {
    position: relative;
    overflow: hidden;
}

.myGallary .gallery .imgBox img {
    max-width: 100%;
    width: 800px;
    transition: transform 2s;
    height: 295px;
}

.myGallary .gallery:hover .imgBox img {
    transform: scale(1.2);
}

.myGallary .gallery .details {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, .8);
    transform: scaleY(0);
    transition: transform .5s;
}

.myGallary .gallery:hover .details {
    transform: scaleY(1);
}

.myGallary .gallery .details .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: #fff;
}

.myGallary .gallery .details .content h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.myGallary .gallery .details .content p {
    margin: 10px 0 0;
    padding: 0;
}

/* contact section */

#contact {
    background-image: url(./image/building-background.jpg);
    margin-top: 10px;
}

.py-5 {
    padding-bottom: 3rem !important;
}

.black-rgba {
    background-color: rgba(0, 0, 0, .7) !important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.contactMe {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
    border-radius: 5px;
    background-color: white;
}

.col-md-12 {
    position: relative;
    width: 80%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.text-center {
    text-align: center !important;
}

.fa-location-dot,
.fa-phone,
.fa-envelope {
    color: #3f51b5;
    padding: 5px;
}

.contactHeadLine {
    color: white;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.mt-2 {
    margin-top: 0.5rem !important;
}

/* footer */
#footerSection {
    background: linear-gradient(#3f51b5 50%, #303f9f 0);
}

.icons {
    align-items: center;
    justify-content: center;
}

.icons i {
    cursor: pointer;
}

.pl-2 {
    padding-left: .5rem;
}

footer {
    height: 50px;
    width: 100%;

}

.fa-lg {
    font-size: 1.3em;
    line-height: .75em;
}

.text-white {
    color: white;
}

.foot {
    margin: auto;
    padding: 10px;
}

/* media queries */

@media(max-width: 952px) {
    .about-div{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
    }
    .mainHeading {
        font-weight: 600;
        font-size: 30px;
        color: white;
        line-height: 70px;
        margin-left: 15px;
    }

    nav ul li a{
        font-size: 16px;
    }

    .myHome{
        height: calc(100vh - 70px);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .homeFirstHeading h1 {
        font-weight: 500;
        font-size: 30px;
        color: white;
    }
}

@media (max-width: 858px) {
    .checkBtn{
        display: block;
    }

    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 70px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        background-color: #3f51b5;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    a:hover, a:active{
        background: none;
    }

    #check:checked ~ ul{
        left: 0;
    }
}